/* Reset Margins and padding */

* {
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;

    background-color: rgb(122, 0, 170);
    
    margin: 0;
    padding: 5px;
}

.center {
    text-align: center;
}

nav {
    text-align: center;
    height: 50px;
    margin-top: 10px;
}

ol, ul {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: rgb(122, 0, 170);
    color: #ffffff;
    /*padding: 2px 6px 2px 6px;*/
    padding: 10px;
  }

